.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar ul{
  margin: 40px 0 35px 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 25px;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
}

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1;
  color: #c6e2ff;
  animation: neon .2s ease-in-out infinite alternate;
}


@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

.image {
  padding: 10px;
}

.image img {
  margin-bottom: 4px;
}

.container{
  display: grid;
  place-items: center;
}

.typed {
  z-index: 2;
  font-family: var(--font-mono);
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 3.5s infinite, blinking 1s infinite;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-color: white}
  50% {border-color: transparent}
  100% {border-color: white}
}


.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  max-width: 550px;
}

.blogs h2 {
  font-weight: 800;
  font-size: 26px;
  padding-bottom: 0.5rem;
}

.blogItem {
  padding: 1rem 0;
}

.blogItem h3{
  font-size: 18px;
  padding: 0.6rem 0;
}

.blogItem p {
  font-size: 14px;
}

.button {
  color: #000;
  background-color: #fff;
  padding: 3px 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .navbar ul li {
    margin: 0 14px;
    font-size: 15px;
  }

  .sign h1 {
    font-size: 1.4rem;
  }

  .typed {
    font-size: 0.8rem;
    margin-bottom: -30px;
  }

  .blogs {
    margin: 0 10vw;
    max-width: 400px;
  }

  .blogs h2 {
    font-size: 20px;
  }

  .blogItem h3 {
    font-size: 16px;
  }

  .blogItem p {
    font-size: 13px;
  }
}

@media screen and (min-width: 800px) {
  .navbar ul li {
    font-size: 20px;
    margin: 0 27px;
  }

  .sign h1 {
    padding: 20px;
    font-size: 2rem;
  }

  .typed {
    font-size: 1.2rem;
  }

  .blogs {
    max-width: 70vw;
  }

  .blogs h2 {
    font-size: 24px;
  }

  .blogItem h3{
    font-size: 20px;
  }
  
  .blogItem p {
    font-size: 18px;
  }
}